/********** header *********/
.header{
  background-color: chartreuse;
  min-height: 4rem;

  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;

}
.header.off{
  display: none;
}

/********** lnb *********/
.lnb{
  background-color: #0d47a1;

  display: none;

  position: absolute;
  width: 40%;
  height: 100%;
}

/********** content *********/
.contents{
  background-color: #880e4f;
  height: 2000px;
  position: relative;
  top: 0;
  /*margin-top: 4rem;*/


}
