/********** header *********/
.header{
  /*background-color: #6D83A3;*/
  background-color: #800000;
  min-height: 4rem;

  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;

}
.header.off{
  background-color:#b5ffff;
}
.wrapper{
 display: flex;

  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.wrapper .lnb,
.wrapper .contents,
.wrapper .search_trade{
  display: block;

}
/********** lnb *********/
.lnb{
  padding: 10px 20px;
  /*background-color: #800000;*/
  background-color: #000000;

  border-right: 8px solid #3e0000;

  width: 50%;
  color: #fff8e1;
  /*min-width: 350px;*/
}
.lnb.off{
  display: none;

}
.lnb .nav_con{
  margin-top:10px;
}
/*.lnb .nav_con:first-child{*/
/*  margin-top:unset;*/
/*}*/

.contents_wrap{
  width: 100%;
}
/********** content *********/
.contents{

  height: 100%;
  /*height: 2000px;*/
  /*width: 100%;*/
  text-align: center;
  /*background:#000 url(https://web.poecdn.com/image/layout/scourge-bg.jpg?1632689269280) no-repeat top center fixed;*/
  /*background:#000 url(/assets/img/scourge-bg.jpg) no-repeat top center;*/
  background:#000 url(/assets/img/scourge-bg.jpg) no-repeat top center;

}

.item{
  display: flex;
  justify-content: space-around;
  background-color: rgba(20,20,20,.8);
  /*background:linear-gradient( to right,#0c0c0ce0 5%, rgba(20,20,20,.8) 15%, rgba(20,20,20,.8) 100%) ;*/
  color: #adabab;
  padding: 10px 20px;
  border-bottom: 2px solid #3e0000;
}

.v-tooltip__content .item{
  display: block;
  text-align: center;
  padding: unset;
}

.v-tooltip__content .item .img{
  display: none;
}
/*img start*/

.item .img{
  width: 200px;
  height: 200px;
}
.item .img img{
  width: 120px;
}

/*title start*/
.item .title{

  height: 53px;
  color:#ffff77;
  background:
    url(/assets/img/header-double-rare-left-removebg.png) top left no-repeat,
    url(/assets/img/header-double-rare-right-removebg.png) top right no-repeat,
    linear-gradient(#1d1414 25%,#46350d 50%,#1d1414 75%);
  /*linear-gradient(#5a4920 0%,#1d1414 25%,#352c19 50%,#1d1414 75%,#5a4920 100%);*/
  border-top: 2px solid #6b5011;
  border-bottom: 2px solid #6b5011;
  /*border-bottom: 2px solid #6b5011;*/
}
.item .title p{
  /*padding: 10px;*/
  font-size: 1rem;
  margin: unset;
  line-height: 1.5em;
  letter-spacing: -0.025;
}
.order_group:nth-child(2){
  padding-top: 10px;
}
.order_group:last-child{
  padding-bottom: 10px;
}
/*.order_group start*/
.item_lines_con, .item_mods_con{
  font-size: 0.8rem;
  padding: 0px 20px;
}

.requirement_wrap{
  display: flex;
  justify-content: center;
}
.requirement_con{
  padding: 0px 1.5px;
}
.requirement_con:not(:first-child){
  color: #bdbdbd;

}



.item_mods_con{
  color:#88f;
  /*background: linear-gradient(to right, rgba(20,20,20, 0) 25%, rgba(20,20,20, 0) 55%, #46350d 80%);*/
  /*linear-gradient( to right, rgba(20,20,20,.8) 80%, rgba(20,20,20,0) 100% );*/
  /*background: linear-gradient(1deg, #1d1414 55%,#46350d 75%,rgba(20,20,20,0));*/
}
.item_mods_con:after{
  content: '';
  display: block;
  height: 3px;
  position: relative;
  top: -8px;
  background: linear-gradient(to right, rgba(20,20,20, 0) 75% , #46350d 85%, rgba(20,20,20, 0) 93% );
  /*background: linear-gradient(to right, rgba(20,20,20, 0) 75% , #46350d 85%, rgba(20,20,20, 0) 95% );*/
}
.mod{
  background: linear-gradient( to right, rgb(20,20,20) 80%, rgba(20,20,20,.8) 80%, rgba(20,20,20,0) 100% );
  padding: 0 40px;
}
.scourge_mods_con{
  color: #ff6e25;
}

/*.order_group end*/
/* item_result start*/
.item_result{
  padding: 10px 20px;
}
/* item_result end*/
/*trade start*/
.trade{
  background-color: red;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/*trade end*/


.separator{
  background: url(https://web.poecdn.com/image/item/popup/seperator-rare.png?1629690613755) center center no-repeat;
  /*background: url(https://web.poecdn.com/image/item/popup/seperator-rare.png?1624341092737) top center no-repeat;*/
  height: 8px;
  width: 100%;
  display: flex;
}

#navigation .v-tooltip__content {
  background-color: transparent;
  padding: unset;
  width: max-content;
  line-height: 1rem;
}
.v-tooltip__content{

}


#navigation .theme--dark.v-application{
  background-color: transparent;
}







/**/
.normal{
  background-color: #fff;
}
.item_over{
 background-color: blue;
}
.item_drag_ing{
  opacity: .5;
}
