#trade{

  /*background-color: #800000;*/
  position: fixed;
  /*width: 100%;*/
  bottom: 0;
  color: #E5DADA;
  box-shadow: 0px -10px 20px #000;
  /*box-shadow: 0px -5px 10px #BA1200;*/
  /*padding-top: 10px;*/
}

/*네비게이션에 맞춘 trade 넓이*/
#navigation.on + .contents_wrap #trade {
  width: 66%;
  transition-duration: 0.7s;
  transition-property: all;
}

#navigation + .contents_wrap #trade {
  transition-duration: 0.88s;
  transition-property: all;
  width: 100%;
}

#trade .top_area, #trade .wrap{

  padding: 0 20px;
}
#trade.trade_wrap .top_area{
  background-color: #800000;
  padding: 10px 20px 30px 20px;
  /*margin-bottom: 20px;*/
 }
#trade .contents_wrap{

  /*height: 0;*/


  max-height: 0;
  transition: max-height 0.15s ease-out;

}
#trade .contents_wrap.on{

  box-shadow: 0px -5px 10px #3e0000;

  max-height: 700px;
  transition: max-height 0.25s ease-in;
  /*height: 100%;*/

}
#trade .contents_wrap.off{
  /*height: 0;*/
  /*display: none;*/
}
#trade .wrap{
  background-color: #002642;
}
.trade_content_draggable_wrap{
  display: flex;

  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.trade_content_draggable_wrap.on{

  width: 100%;
  height: 100%;


  max-height: 800px;

  transition: max-height 0.25s ease-in;
}
.trade_content_draggable_wrap.off{
  /*display: none;*/
}

.trade_done, .trade_ing{
  display: block;
  overflow: auto;
}
.trade_done{
  /*height: 0px;*/

  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.trade_done.on{
  height: 100%;

  max-height: 300px;
  overflow: auto;
  transition: max-height 0.25s ease-in;
}
.trade_done.off{
  /*display: none;*/
  /*color: transparent;*/
  /*display: none;*/
}
.trade_ing .trade_item{
  border: 2px dashed #ddd;
}
.trade_use, .trade_unused{
  display: block;
  width: 50%;
  min-height: 200px;
  max-height: 350px;
  overflow: auto;
  background-color: #031927;
  /*background-color: #800000;*/
  /*border: 1px solid #E5DADA;*/
  cursor: move;

  box-shadow: inset 0px 0px 10px #051621;
}

.trade_use{
  margin: 1% 0.5% 1% 0%;
}
.trade_unused {
  margin: 1% 0% 1% 0.5%;
}
.trade_item{
  padding: 10px;
  margin: 10px;

  background-color: #840032;
  /*border:1px solid  #60130a;*/

  /*background-color: #60130a;*/
  /*border:1px solid #350c07;*/

  color: #E5DADA;
}
/**/
/*.normal{*/
/*  background-color: #fff;*/
/*}*/
.item_over{
  background-color: blue;
}
.item_drag_ing{
  opacity: .5;
}
