#trade{
  /*background-color: #E59500;*/
  /*background-color: #D17A22;*/
  /*800000*/
  background-color: #800000;
  position: fixed;
  /*width: 100%;*/
  width: 66%;
  bottom: 0;
  color: #E5DADA;
  box-shadow: 0px -10px 20px #000;
  /*box-shadow: 0px -5px 10px #BA1200;*/
  padding-top: 10px;
}
#trade .top_area, #trade .wrap{

  padding: 0 20px;
}

#trade .wrap{
  margin-top: 20px;
  /*background-color: #2f3238;*/
  background-color: #002642;
  box-shadow: 0px -5px 10px #3e0000;
  /*border-top: 1px solid #031927;*/
  /*box-shadow: 0px -5px 10px #d17a22;*/


  /*border-top: 3px solid #D17A22;*/
  /*background-color: #02040F;*/

}
.trade_content_draggable_wrap{
  display: flex;
  width: 100%;
}

.trade_done, .trade_ing{
  display: block;
}
.trade_ing .trade_item{
  border: 2px dashed #ddd;
}
.trade_use, .trade_unused{
  display: block;
  width: 50%;
  min-height: 350px;
  background-color: #031927;
  /*background-color: #800000;*/
  /*border: 1px solid #E5DADA;*/
  cursor: move;

  box-shadow: inset 0px 0px 10px #051621;
}

.trade_use{
  margin: 1% 0.5% 1% 0%;
}
.trade_unused {
  margin: 1% 0% 1% 0.5%;
}
.trade_item{
  padding: 10px;
  margin: 10px;

  background-color: #840032;
  /*border:1px solid  #60130a;*/

  /*background-color: #60130a;*/
  /*border:1px solid #350c07;*/

  color: #E5DADA;
}
/**/
/*.normal{*/
/*  background-color: #fff;*/
/*}*/
.item_over{
  background-color: blue;
}
.item_drag_ing{
  opacity: .5;
}
