#trade_controller{

}

#trade_controller .wrapper{
  display: flex;
  /*justify-content: space-around;*/
  width: 100%;
}

#trade_controller .box_wrap{
  border: 1px solid #ddd;
}


/* all blocks */
#trade_controller .filter_box_wrap{
}
#trade_controller .filter_box{
  border: 1px solid #ddd;
  margin: 10px;
}
#trade_controller .filter{
  border: 1px solid #ddd;
  margin: 10px;
}


/* selected block + result area*/
#trade_controller .content{
  width: 100%;
}
#trade_controller .content .selected_block{

  border: 1px solid #dfdfdf;
}
#trade_controller .content .result{

}

/* block detail */
/*#trade_controller .block_detail{*/

/*  transition-duration: 0.7s;*/
/*  transition-property: all;*/
/*}*/

#trade_controller .block_detail{

  display: block !important;
  transition-duration: 0.8s;
  transition-property: all;
  overflow: hidden;
  /*width: 0%;*/
  /*transition-property: margin-right;*/
  /*display: block;*/
  width: 0px;

}
#trade_controller .block_detail.on{
  width: 300px;

}



.btn{
  display: block;
  border:1px solid #ddd;
  padding: 10px;
  margin: 10px;
}
